/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
/lib/string_view/string_view.bundle
/lib/string_view/string_view.so
/lib/string_view/string_view.o
Makefile
*.o
*.bundle
*.so
*.dSYM/
